<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - farmaplus</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/theme.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="row h100strict">
      <div class="col-3 l-nav">
        <nav class="navbar navbar-light bg-light flex-column h100strict jc-none">
          <a class="navbar-brand mt-3" href="/">Farma Plus</a>
          <nav class="nav nav-pills flex-column mt-3">
              <a class="nav-link" href="/">Inicio</a>
              <a class="nav-link" href="/Productos">Catalogo</a>
              <a class="nav-link" href="/Clientes">Clientes</a>
              <a class="nav-link" href="/">Usuarios</a>
          </nav>
        </nav>
      </div>

      <div class="col-9 offset-3 sub-body">
          <main role="main" class="pb-3 mt-5 container">
              @RenderBody()
          </main>
          <div>
            <!-- br /><br /><br />
          <footer>
              <div className="container my-auto">
                    <div className="copyright text-center my-auto">
                        <br /><br /><br />
                        <span>Copyright &copy; 2021 <a href="#">Erick Arroyo & Francisco Dias</a> Todos los derechos
                            reservados.</span>
                        <br /><br /><br />
                    </div>
                </div>
            </footer-->
          </div>
      </div>
      </div>
  <div/>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
