.h100strict {
  min-height: 100vh;
}

.l-nav {
  position: fixed;
}

footer {
  background-color: var(--dark);
  padding: 0;
  margin: 0;
}

nav.jc-none {
  justify-content: flex-start;
}

main.container {
  margin-right: 0;
}

div.row.h100strict {
  --bs-gutter-x: 0;
}

div.sub-body {
  padding-left: 2rem;
}

div.container-fluid {
  padding: 10px;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder {
  border: 1px solid #ced4da;
}
.bootstrap-select>.dropdown-toggle {
  border: 1px solid #ced4da;
}