.h100strict {
  min-height: 100vh;
}

.l-nav {
  position: fixed;
}

footer {
  background-color: var(--dark);
  padding: 0;
  margin: 0;
}

nav.jc-none {
  justify-content: flex-start;
}

main.container {
  margin-right: 0;
}